body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    text-align: center;
}
.calculator{
    display: inline-block;
    border: 4px solid black;
    background-color: rgb(241, 216, 183);
    padding: 15px;
    border-radius: 53px;
}
table{ 
    margin: auto;
}
input{
    border-radius: 20px;
    font-size: 34px;
    border: 5px solid rgb(122, 8, 8);
    height: 65px;
    width: 456px;
    
}
button{
    font-size: 23px;
    background: rgb(229, 150, 46);
    width: 103px;
    height: 90px;
    margin: 6px;
    border-radius: 20px;
    border: 2px solid black;
    transition: 0.7s;
   
}
button:hover{
    background-color: antiquewhite;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(197, 121, 6);
    font-weight: 2000;
    
}